@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: white;
    position: relative;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #475569;
    font-size: 16px;
    font-weight: 700;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #4F46E5;
}

.buttons{
    display: flex;
    gap: 10px;
}

.sign-up, .log-in {
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #CBD5E1;
    color: #475569;
    background-color: transparent;
    transition: all 0.3s ease;
}

.log-in {
    background-color: #4F46E5;
    border: 1px solid #4F46E5;
    color: white;
}

.sign-up:hover {
    background-color: #CBD5E1;
}

.log-in:hover {
    background-color: #3730A3;
}

/* Mobile Menu */
.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu-toggle img {
    width: 20px;
}

.mobile-menu{
    display: none;
}


/* Mobile*/
@media (max-width: 767px) {
    .container {
       width: 100%;
    }
    .navbar {
        padding: 15px 5px;
    }
    .nav-links, .buttons {
        display: none;
      }
        .menu-toggle{
            display: block;
        }
        .mobile-menu {
            margin-left: 10px;
        }
        .mobile-links {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .mobile-links li a {
            display: block;
            padding: 4px 0 ;
        }

        .button {
            margin-top: 20px;
            display: flex;
            gap: 20px;
        }
  }
  
  /* Tablet */
  @media (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: 100%;
     }
     .nav-links, .buttons {
         display: none;
       }
         .menu-toggle{
             display: block;
         }
         .mobile-menu {
             margin-left: 25px;
         }
         .mobile-links {
             display: flex;
             flex-direction: column;
             gap: 10px;
         }
         .mobile-links li a {
             display: block;
             padding: 4px 0 ;
         }
         .button {
             margin-top: 20px;
             display: flex;
             gap: 20px;
         }

  }

