@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

section{
    padding: 64px 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: white;
    position: relative;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #475569;
    font-size: 16px;
    font-weight: 700;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #4F46E5;
}

.buttons{
    display: flex;
    gap: 10px;
}

.sign-up, .log-in {
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #CBD5E1;
    color: #475569;
    background-color: transparent;
    transition: all 0.3s ease;
}

.log-in {
    background-color: #4F46E5;
    border: 1px solid #4F46E5;
    color: white;
}

.sign-up:hover {
    background-color: #CBD5E1;
}

.log-in:hover {
    background-color: #3730A3;
}

/* Mobile Menu */
.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu-toggle img {
    width: 20px;
}

.mobile-menu {
display: none;
    position: absolute;
    background: white;
    width: 100%;
    padding: 20px 0 40px 0;
}

/* banner section design start here  */
#banner{
    text-align: center;
    padding: 96px 0 !important;
    background-image: linear-gradient(white, #eaf4ff, #9b9ee7);
}

.design-button {
    border: none;
    outline: none;
    padding: 6px 12px;
    border-radius: 30px;
    color: #4F46E5;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.banner-title {
    color: #1E293B;
    font-size: 60px;
    font-weight: 800;
    line-height: 68px;
    padding: 24px 20%;
}
.banner-text {
    font-size: 18px;
    color: #475569;
    line-height: 160%;
    padding: 0 22%;
}
.app-store-links{
    margin-top: 50px;
    margin-bottom: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.dashboard-image{
    position: relative;
}

.desktop-dashboard{
    width: 800px;
    height: 533px;
}
.dashboard-mockup{
    width: 240px;
    height: 467px;
position: absolute;
top: 25%;
right: 15%;
}


/* brands */
#brands{
    background: #F8FAFC;
}

.brand-logos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.second-row{
    justify-content: space-evenly !important;
}


/* Our Main Features section design here */
.feature-header{
    text-align: center;
    padding-bottom: 64px;
}

.feature-title{
    font-size: 36px;
    font-weight: 800;
    color: #1E293B;
    line-height: 44px;
    padding: 24px 0;
}

.feature-text{
    font-size: 18px;
    color: #475569;
    line-height: 160%;
    padding: 0 25%;
}
.feature-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 34px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.feature-box img {
    margin-bottom: 20px;
}

.item-title{
    color: #1E293B;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    padding-bottom: 8px;
}

.item-text{
    color: #475569;
    font-size: 16px;
    line-height: 160%;
    padding: 0 20px;
}

/* Mobile*/
@media (max-width: 767px) {
    .container {
       width: 100%;
    }
    .navbar {
        padding: 15px 5px;
    }
    .nav-links, .buttons {
        display: none;
      }
        .menu-toggle{
            display: block;
        }
        .mobile-menu {
            margin-left: -15px;
            padding-left: 30px;
        }
        .mobile-links {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .mobile-links li a {
            display: block;
            padding: 4px 0 ;
        }

        .button {
            margin-top: 20px;
            display: flex;
            gap: 20px;
        }

        /* banner style  */
        .banner-title {
            padding: 24px 0%;
        }
        h1.banner-title {
            font-size: 36px;
            line-height: 44px;
        }
        .banner-text {
            padding: 0 0;
        }
        .desktop-dashboard {
            max-width: 100% !important;
    max-height: fit-content;
        }        
        .dashboard-mockup {
            width: 90px;
            height: 180px;
            position: absolute;
            top: 35%;
            right: 12%;
        }
        .app-store-links {
            margin-top: 40px;
            margin-bottom: 40px;
        }
        
        .feature-items {
            grid-template-columns: repeat(1, 1fr);
        }
        .feature-text {
            padding: 0 2%;
        }
        
       
  }
  
  /* Tablet */
  @media (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: 100%;
     }
     .nav-links, .buttons {
         display: none;
       }
         .menu-toggle{
             display: block;
         }
         .mobile-menu {
             margin-left: -15px;
                padding-left: 40px;
         }
         .mobile-links {
             display: flex;
             flex-direction: column;
             gap: 10px;
         }
         .mobile-links li a {
             display: block;
             padding: 4px 0 ;
         }
         .button {
             margin-top: 20px;
             display: flex;
             gap: 20px;
         }

         /* banner style  */
        .banner-title {
            padding: 24px 0%;
        }
        .banner-text {
            padding: 0 14%;
        }
        .desktop-dashboard {
            max-width: 100%;
        }        
        .dashboard-mockup {
            max-width: 100%;
        }

        .feature-items {
            grid-template-columns: repeat(2, 1fr);
        }
        .feature-text {
            padding: 0 10%;
        }
        
        

